/* 1. center a div */

/* .child{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 40vh auto;
} */


/* 2. way using flex */
/* 

body{
    overflow: hidden;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.child{
    height: 100px;
    width: 100px;
    border: 1px solid black;
} */


/* 3. way using grid */

/* .parent{
    display: grid;
    place-items: center;
}
.child{
    height: 100px;
    width: 100px;
    border: 1px solid black;
} */


/* 4. way using position */

/* 
.child{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

