#select {
    padding: 10px;
}

#inp{
    margin-left: 2rem;
    padding: 10px;
}

#btn{
    margin-top: 2rem;
    /* text-align: center; */
    margin-left: 5rem;
    padding: 10px;
    background-color: brown;
    color: wheat;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

#btn:hover{
    background-color: rgb(213, 89, 89);
}
#result{
    width: 50%;
    text-align: center;
    font-size: 2rem;
}