:root{
    --w: 400px;
    --h: 200px
}
h1{
    text-align: center;
}
.parent{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    gap: 10px;
}
.classs{
    width: var(--w);
    height: var(--h);
    border-radius: 2rem;
    transition: all ease-in-out .8s;

}

.newclass{
    flex-basis: 90%;
}